{% extends 'layouts/base.html' %}

{% block title %} {{ post.titulo }} {% endblock %}
{% load custom_tags %}
{% block content %}
  
<div class="timeline-container">


    <article class="post-card">
      <div class="like-dislike-section">
        <div class="likes">
          {{ post.cantidad_likes }}
          {% user_has_liked post.id '1' as has_liked %}
          {% if has_liked %}
            <form method="post" action="{% url 'quitar_like' post.id %}">
              {% csrf_token %}
              <input type="submit" class="like-btn liked" value="👍 Quitar Like">
            </form>
          {% else %}
            <form method="post" action="{% url 'incrementar_like' post.id %}">
              {% csrf_token %}
              <input type="submit" class="like-btn" value="👍 Dar Like">
            </form>
          {% endif %}
        </div>
        <div class="dislikes">
          {% user_has_liked post.id '2' as has_disliked %}
          {% if has_disliked %}
            <form method="post" action="{% url 'quitar_dislike' post.id %}">
              {% csrf_token %}
              <input type="submit" class="dislike-btn disliked" value="👎 Quitar Dislike">
            </form>
          {% else %}
            <form method="post" action="{% url 'incrementar_dislike' post.id %}">
              {% csrf_token %}
              <input type="submit" class="dislike-btn" value="👎 Dar Dislike">
            </form>
          {% endif %}
          {{ post.cantidad_dislikes }}
        </div>
      </div>
      <div class="post-content">
        
        <h3 style="color: #333;">
          <a href="{% url 'profile' post.autor.username %}">
            {{ post.autor.username }}
          </a>
        </h3>
        
        <h5 style="color: #555; cursor: default;">{{ post.titulo }}</h5>
        <p>
              {{ post.contenido }}
      </p>
        <ul class="image-list">
          {% for relacion in relaciones %}
            {% if relacion.post == post %}
              {% for imagen in imagenes %}
                {% if relacion.imagen == imagen %}
                  <li>
                    <a href="{{ imagen.src }}"><img src="{{ imagen.src }}" alt="{{ imagen.titulo }}" class="thumbnail"></a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
        <div class="metadata">
          <div class="created-at">{{ post.creado_en }}</div>
          <div class="category">{{ post.categoria }}</div>
        </div>
      </div>
    </article>

  {% for comentario in comentarios %}
    <article class="comentario">
      <h2>{{ comentario.titulo }}</h2>
      <h4>respuesta a {{ comentario.ref.autor }}</h4>
      <h3>{{ comentario.user.username }}</h3>
      <p>{{ comentario.contenido }}</p>
      <h6>{{ comentario.creado_en }}</h6>
    </article>
  {% endfor %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary mb-3">
      Publicar
    </button>
  </form>
{% endblock %}
