body{
    background-color: #202020;
    color:azure;
}

.navbar ul li a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}

.card {
    background-color: #F0EFFF;
    padding: 10PX;
    margin-bottom: 2PX;
    color: black;
    
}

.card a {
    text-decoration: none;
}

.card h2,
.card h3,
.card p,
.card h6 {
    text-decoration: none;
    color: black;
}

.card h5,
.card h6{
    text-decoration: none;
    color: gray;
}

.input {
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}
.comentario{
    background-color: #FFF1E5;
    padding: 10PX;
    margin-bottom: 2PX;
    color: black;
}

#preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 2px dashed #ccc;
    margin-bottom: 10px;
}

#preview-image {
    max-width: 100%;
    max-height: 100%;
}

.banner {
    width: 1200px;
    max-height: 300px;
}

.pfp{
    width: 100px;
    max-height: 100px;
    border: 2px #F0EFFF;
    border-style: solid;
}